.board {
    max-width: fit-content;
    padding: 6px;
}

.row {
    display:flex;
    background-color: #000;
    padding: 3px 3px;
}

.cell {
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: #4341d5;
    color: #fff;
    width: 20px;
    height: 20px;
    margin: 0px 3px;
}